deploy/local.properties
.tmp/
simplelogger*
npm-debug.log
*.map
.DS_Store
main.css
*.pid
dist/*
ui/app/js/all*
Thumbs.db
*.pid
data/spl/*
data/spl-to-ndc/*
data/provider-charge-data/*
data/prescriber-charge-data/*
conf/dev.js
