<div class="facet panel panel-primary" ng-if="facet.facetValues.length" ng-repeat="(index, facet) in facets | object2Array" ng-init="panelOpen[$index] = true">
  <div class="panel-heading" ng-click="panelOpen[$index] = !panelOpen[$index]">
    <i class="fa" ng-class="{true: 'fa-angle-down', false: 'fa-angle-right'}[panelOpen[$index]]"></i> <h3 class="panel-title">{{ facet.__key }}</h3>
  </div>
  <ul class="list-group facet-values" ng-show="panelOpen[$index]">
    <li class="list-group-item" ng-repeat="value in facet.facetValues" ng-class="{ 'on': value.selected} ">
      <a href ng-click="toggle({facet: facet.__key, value: value.name})" title="{{ value.name }}">
        {{ value.name | truncate:20 }} <span class="badge pull-right">{{ value.count | numeric }}</span>
        <i class="facet-icon" ng-class="{ 'fa fa-trash-o': value.selected }"></i>
      </a>
    </li>
    <li ng-if="!facet.displayingAll" class="list-group-item see-more">
      <a href ng-click="showMore({facet: facet, facetName: facet.__key})">see more ...</a>
    </li>
  </ul>
</div>
